.jumbotron {
    margin-bottom: 2em;
    padding: 4em 2em;
    
}

.img {
    // width: 200px;
    width: 12.5em;
    height: 12.5em;
    margin: 1rem;
    background-color: red;
    border-radius: 1em;
    // border: solid white 1px;
}

.img-2{
    background-color: orange;
}